<h1 class="jumbotron">Check List</h1>

<%= link_to "New Task", new_task_path, id: "new_link", remote: true %>

<div id='incomplete_tasks'>
  <h3>Incomplete Tasks</h3>
  <div>
    <%= render @incomplete_tasks %>
  </div>
</div>

<div id='complete_tasks'>
  <h3>Complete Tasks</h3>
  <div>
    <%= render @complete_tasks %>
  </div>
</div>
